<html>
    <head>
        <title>AZ Availability</title>
        <style>
            body {
                font-family: 'Noto Sans JP', sans-serif;
                margin: 0px 0px 24px 0px;
            }
            .title {
                background-color: #303f9f;
                color: white;
                padding: 1px 16px;
                margin: 0px;
            }
            .content {
                padding-left: 20px;
                padding-right: 10px;
                padding-top: 20px;
            }
            .slot-row {
                display: flex;
                flex-flow: row wrap;
            }
            h2 {
                color: #303f9f;
            }
            .legend {
                padding-right: 16px;
                padding-bottom: 8px;
            }
            .legend-block {
                width: 16px;
                height: 16px;
                display: inline-block;
            }
            .slot {
                width: 96px;
                height: 96px;
                margin: 8px;
                text-align: center;
                padding: 8px;
                font-size: 24px;
            }
            .slot-True {
                background-color: #43a047;
                color: white;
            }
            .slot-False {
                background-color: #757575;
                color: white;
            }
        </style>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="title">
            <h1>AZ Availability</h1>
        </div>
        <div class="content">
            <div class="slot-row">
                <span style="margin-right: 20px">Updated {{timestamp}}</span>
                <div class="legend">
                    <div class="slot-True legend-block"></div>
                    <span>Available</span>
                </div>
                <div class="legend">
                    <div class="slot-False legend-block"></div>
                    <span>Full</span>
                </div>
            </div>
            {% for location in locations %}
                <h2>{{ location.name }}</h2>
                <hr class="solid">
                <div class="slot-row">
                    {% for slot in location.slots %}
                        <div class="slot slot-{{slot.available}}">
                            {{ slot.day.strftime("%b") }}<br/>
                            {{ slot.day.strftime("%d") }}<br/>
                            <span style="font-size: 16px;">{{ slot.day.strftime("%a") }}</span>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </body>
</html>